@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@700&display=swap');

body {
    margin: 0;
    background-color: hsl(239, 57%, 95%);
    width: 100vw;
    min-height: 100vh;
    height: auto;
    justify-items: center;
    font-family: 'Rubik';
}

#container {
    width: 750px;
    align-items: flex-end;
    padding: 10px 0 200px 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.comment {
    width: 100%;
    height: 165px;
    margin: 10px 0;
    border-radius: 10px;
    background-color: white;
    display: grid;
    grid-template-columns: 1fr 7fr;
    grid-template-rows: 2fr 3fr;

    .content {
        width: 620px;
    }
}

.score-box {
    grid-column: span 1;
    grid-row: span 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    background-color: hsl(239, 57%, 95%);
    width: 35px;
    height: 100px;
    margin: auto;
    border-radius: 5px;
    color: hsl(238, 40%, 52%);
    font-size: 15px;
    font-weight: 700;
}

.name-box {
    display: flex;
    align-items: center;

    img {
        transform: scale(0.6);
    }

    .name {
        font-weight: 700;
    }

    .time {
        margin-left: 10px;
        color: hsl(211, 10%, 45%);
    }

    .sign {
        background-color: hsl(238, 40%, 52%);
        color: white;
        font-weight: 700;
        font-size: 12px;
        width: 35px;
        height: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 2px;
        margin-left: 5px;
    }

    .icons {
        img {
            transform: scale(1);
        }
        color: hsl(238, 40%, 52%);
        font-weight: 700;
        display: flex;
        gap: 10px;
        margin-left: auto;
        margin-right: 20px;

        .delete {
            color: hsl(358, 79%, 66%);
            gap: 10px;
            margin-right: 15px;
            display: flex;
        }
    }
}

.content {
    margin-left: 15px;
    color: hsl(211, 10%, 45%);
    font-size: 16px;
    line-height: 1.5;

    .significance {
        font-weight: 700;
        color: hsl(238, 40%, 52%);
    }
}

.replylist {
    width: 700px;
    border-left: hsl(211, 10%, 85%) 2px solid;
    align-items: flex-end;
    gap: 10px;
    display: flex;
    flex-direction: column;
}

.reply {
    width: 650px;
    height: 165px;
    border-radius: 10px;
    background-color: white;
    display: grid;
    grid-template-columns: 1fr 6fr;
    grid-template-rows: 2fr 3fr;

    .content {
        width: 525px;
    }
}

.bottom-wrapper {
    position: fixed;
    left: 0;
    bottom: 0;
    justify-items: center;
    width: 100vw;
    height: 200px;
    background-color: hsl(239, 57%, 95%);
}

.bottom {
    width: 750px;
    background-color: white;
    border-radius: 10px;
    margin: 10px 0;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    align-items: self-start;
    
    img {
        transform: scale(0.8);
        transform-origin: top left;
    }

    textarea {
        width: 500px;
        height: 100px;
        outline: none;
        border: hsl(223, 19%, 93%) 1px solid;
        border-radius: 5px;
        margin-left: 10px;
        padding: 10px 20px;
        box-sizing: border-box;
        resize: none;
        font-size: 15px;
        
    }

    button {
        background-color: hsl(238, 40%, 52%);
        color: white;
        width: 100px;
        height: 50px;
        border: none;
        border-radius: 5px;
        margin-left: 20px;
        font-size: 15px;
        font-weight: 500;
    }

    button:hover {
        background-color: hsl(239, 57%, 85%);
    }

    button:active {
        background-color: hsl(239, 57%, 60%);
    }
}